In [ ]:
# from google.colab import files
# uploaded = files.upload()

# Objective of the task is to predict the Profit of the state based on the other factors.

In [2]:
# Your code to import numpy
# Your code to import panda
# Your code to import matplotlib
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [13]:
# Your code to read file
# Your code to print sample data
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Separate the independednt and Dependent variables.
# Profit is the dependedent variable

## What is the role of the axis and inplace in following code?

In [17]:
y = np.asarray(dataset['Profit'].values.tolist())
print(y)
dataset.drop(["Profit"], axis = 1, inplace = True)

[192261.83 191792.06 191050.39 182901.99 166187.94 156991.12 156122.51
 155752.6  152211.77 149759.96 146121.95 144259.4  141585.52 134307.35
 132602.65 129917.04 126992.93 125370.37 124266.9  122776.86 118474.03
 111313.02 110352.25 108733.99 108552.04 107404.34 105733.54 105008.31
 103282.38 101004.64  99937.59  97483.56  97427.84  96778.92  96712.8
  96479.51  90708.19  89949.14  81229.06  81005.76  78239.91  77798.83
  71498.49  69758.98  65200.33  64926.08  49490.75  42559.73  35673.41
  14681.4 ]

# We will convert  Categorical Variable values "State" to numbers with the One Hot Encoding Technique

# Initially, we will counts value that the feature "State" can take.

# Remember .value_counts() function

In [18]:
dataset.iloc[:,3].value_counts()

State
New York      17
California    17
Florida       16
Name: count, dtype: int64

# Replacing the three states by the numbers 1, 2, 3.
# This is also called as the LabelEncoding

In [19]:
dataset.replace(to_replace=["California","New York", "Florida"], value=[1,2,3])

    R&D Spend  Administration  Marketing Spend  State
0   165349.20       136897.80        471784.10      2
1   162597.70       151377.59        443898.53      1
2   153441.51       101145.55        407934.54      3
3   144372.41       118671.85        383199.62      2
4   142107.34        91391.77        366168.42      3
5   131876.90        99814.71        362861.36      2
6   134615.46       147198.87        127716.82      1
7   130298.13       145530.06        323876.68      3
8   120542.52       148718.95        311613.29      2
9   123334.88       108679.17        304981.62      1
10  101913.08       110594.11        229160.95      3
11  100671.96        91790.61        249744.55      1
12   93863.75       127320.38        249839.44      3
13   91992.39       135495.07        252664.93      1
14  119943.24       156547.42        256512.92      3
15  114523.61       122616.84        261776.23      2
16   78013.11       121597.55        264346.06      1
17   94657.16       145077.58        282574.31      2
18   91749.16       114175.79        294919.57      3
19   86419.70       153514.11             0.00      2
20   76253.86       113867.30        298664.47      1
21   78389.47       153773.43        299737.29      2
22   73994.56       122782.75        303319.26      3
23   67532.53       105751.03        304768.73      3
24   77044.01        99281.34        140574.81      2
25   64664.71       139553.16        137962.62      1
26   75328.87       144135.98        134050.07      3
27   72107.60       127864.55        353183.81      2
28   66051.52       182645.56        118148.20      3
29   65605.48       153032.06        107138.38      2
30   61994.48       115641.28         91131.24      3
31   61136.38       152701.92         88218.23      2
32   63408.86       129219.61         46085.25      1
33   55493.95       103057.49        214634.81      3
34   46426.07       157693.92        210797.67      1
35   46014.02        85047.44        205517.64      2
36   28663.76       127056.21        201126.82      3
37   44069.95        51283.14        197029.42      1
38   20229.59        65947.93        185265.10      2
39   38558.51        82982.09        174999.30      1
40   28754.33       118546.05        172795.67      1
41   27892.92        84710.77        164470.71      3
42   23640.93        96189.63        148001.11      1
43   15505.73       127382.30         35534.17      2
44   22177.74       154806.14         28334.72      1
45    1000.23       124153.04          1903.93      2
46    1315.46       115816.21        297114.46      3
47       0.00       135426.92             0.00      1
48     542.05        51743.15             0.00      2
49       0.00       116983.80         45173.06      1

# We will create 3 more columns for the three states.

In [38]:
dataset["California"] = dataset.iloc[:, 3]
dataset["New York"] = dataset.iloc[:,3]
dataset["Florida"] = dataset.iloc[:,3]

# Check how the dataset looks now

In [39]:
# Your code to print few samples of dataset.
dataset.head()

,R&D Spend,Administration,Marketing Spend,State,California,New York,Florida
0,165349.20,136897.80,471784.10,New York,New York,New York,New York
1,162597.70,151377.59,443898.53,California,California,California,California
2,153441.51,101145.55,407934.54,Florida,Florida,Florida,Florida
3,144372.41,118671.85,383199.62,New York,New York,New York,New York
4,142107.34,91391.77,366168.42,Florida,Florida,Florida,Florida

# Performing one hot encoding for the column Calfornia.
## Replace text 'California' with 1 and others with 0 for this column.

In [40]:
dataset.loc[dataset["California"]!="California", "California"] = 0
dataset.loc[dataset["California"]=="California", "California"] = 1

# Perform the one hot encoding for New York and the Florida column

In [43]:
# Your code to perform one hot encoding for New York column.
dataset.loc[dataset["New York"]!="New York", "New York"] = 0
dataset.loc[dataset["New York"]=="New York", "New York"] = 1

In [41]:
# Your code to perform one hot encoding for Florida column.
dataset.loc[dataset["Florida"]!="Florida", "Florida"] = 0
dataset.loc[dataset["Florida"]=="Florida", "Florida"] = 1

# Now look at the dataset
## Can you find the state name from numbers in last three columns only?

In [44]:
# Your code to print sample
dataset.head()

,R&D Spend,Administration,Marketing Spend,State,California,New York,Florida
0,165349.20,136897.80,471784.10,New York,0,1,0
1,162597.70,151377.59,443898.53,California,1,0,0
2,153441.51,101145.55,407934.54,Florida,0,0,1
3,144372.41,118671.85,383199.62,New York,0,1,0
4,142107.34,91391.77,366168.42,Florida,0,0,1

# Drop the State and one of the three states column.
## Question - Why we are dropping one column for the state?

In [48]:
# Your code to drop State and Florida column
dataset.drop(["State", "Florida"], axis = 1, inplace = True)
dataset.head()

   R&D Spend  Administration  Marketing Spend California New York
0  165349.20       136897.80        471784.10          0        1
1  162597.70       151377.59        443898.53          1        0
2  153441.51       101145.55        407934.54          0        0
3  144372.41       118671.85        383199.62          0        1
4  142107.34        91391.77        366168.42          0        0

# Lets's check the dataset again.
## Question - Can you guess the name of three states from the numbers (1/0) in last two column?

In [49]:
# Your code to print sample dataset.
dataset.head()

   R&D Spend  Administration  Marketing Spend California New York
0  165349.20       136897.80        471784.10          0        1
1  162597.70       151377.59        443898.53          1        0
2  153441.51       101145.55        407934.54          0        0
3  144372.41       118671.85        383199.62          0        1
4  142107.34        91391.77        366168.42          0        0

# Let's further process independent variables.

In [50]:

X = np.asarray(dataset.values.tolist()).astype(float)

# Print the shapes of the aray

In [110]:
# Your code to print the shape of X
# Your code to print the shape of y
print(X)
print(X.shape)
print(y.shape)

[[ 2.01642504e+00  5.60775975e-01  2.15394390e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [ 1.95587388e+00  1.08282964e+00  1.92360120e+00  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 1.75437728e+00 -7.28233968e-01  1.62652848e+00  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 1.55479724e+00 -9.63415706e-02  1.42221104e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [ 1.50495075e+00 -1.07989629e+00  1.28152852e+00  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 1.27981356e+00 -7.76216010e-01  1.25421127e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [ 1.34007995e+00  9.32170269e-01 -6.88149122e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 1.24507020e+00  8.72003071e-01  9.32186786e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 1.03038241e+00  9.86975162e-01  8.30887717e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [ 1.09183275e+00 -4.56617186e-01  7.76108248e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 6.20411795e-01 -3.87576029e-01  1.49808075e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 5.93098965e-01 -1.06551653e+00  3.19834431e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 4.43273419e-01  2.15472124e-01  3.20618249e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 4.02091150e-01  5.10202013e-01  3.43957596e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 1.01719429e+00  1.26922245e+00  3.75743081e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 8.97926670e-01  4.58909136e-02  4.19219510e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [ 9.44547430e-02  9.14147979e-03  4.40447032e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 4.60733675e-01  8.55689379e-01  5.91017531e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [ 3.96738485e-01 -2.58442307e-01  6.92992870e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 2.79455197e-01  1.15985963e+00 -1.74312617e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [ 5.57396340e-02 -2.69564591e-01  7.23926803e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 1.02737147e-01  1.16920915e+00  7.32788599e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [ 6.02012518e-03  5.18726249e-02  7.62376684e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.36187177e-01 -5.62188208e-01  7.74349716e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 7.31281480e-02 -7.95446107e-01 -5.81938489e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-1.99298141e-01  6.56512199e-01 -6.03515917e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 3.53837501e-02  8.21740976e-01 -6.35834687e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-3.55054466e-02  2.35091603e-01  1.17427197e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-1.68779170e-01  2.21016356e+00 -7.67188629e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.78594993e-01  1.14247983e+00 -8.58132855e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-2.58060822e-01 -2.05605599e-01 -9.90356358e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-2.76944684e-01  1.13057697e+00 -1.01441864e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-2.26935128e-01  2.83946873e-01 -1.36244897e+00  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-4.01115378e-01 -6.59300973e-01  2.98180513e-02  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-6.00668575e-01  1.31055831e+00 -1.87781008e-03  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-6.09736394e-01 -1.30863447e+00 -4.54923508e-02  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-9.91556606e-01  2.05947751e-01 -8.17617655e-02  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-6.52518763e-01 -2.52597096e+00 -1.15607448e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.17716400e+00 -1.99724731e+00 -2.12784058e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-7.73806812e-01 -1.38309850e+00 -2.97582468e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-9.89563468e-01 -1.00877158e-01 -3.15785075e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.00852017e+00 -1.32077275e+00 -3.84551599e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.10209201e+00 -9.06914474e-01 -5.20595152e-01  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.28112009e+00  2.17704585e-01 -1.44960388e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-1.13429185e+00  1.20644242e+00 -1.50907337e+00  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.60033681e+00  1.01276996e-01 -1.72739917e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-1.59339967e+00 -1.99298681e-01  7.11123282e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.62234847e+00  5.07744936e-01 -1.74312617e+00  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-1.61041980e+00 -2.50938578e+00 -1.74312617e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00]
 [-1.62234847e+00 -1.57202446e-01 -1.36998392e+00  1.00000000e+00
   0.00000000e+00  1.00000000e+00]]
(50, 6)
(50, 1)

# Change the shape of the dependent variable to (len(y), 1)

In [111]:
# Your code to change the shape of the y to (len(y), 1)
y.shape = (len(y), 1)
print(y.shape)

(50, 1)

# Perform feature scaling
## We will study this in detail in class.
## For now, guess what following code is doing

In [112]:

for i in range(X.shape[1]-2):
    X[:,i] = (X[:,i] - int(np.mean(X[:,i])))/np.std(X[:,i])

In [113]:
y = (y - int(np.mean(y)))/np.std(y)

# Adding the feature X0 = 1, so we have the equation: y =  theta[0] * X0) + theta[2] * X1

In [114]:
X = np.concatenate((X,np.ones((50,1))), axis = 1)

# Let's see X, y and their shapes

In [115]:
# Your code to print sample values in X
print(X)

[[ 2.01642504e+00  5.60775975e-01  2.15394390e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.95587388e+00  1.08282964e+00  1.92360120e+00  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.75437728e+00 -7.28233968e-01  1.62652848e+00  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.55479724e+00 -9.63415706e-02  1.42221104e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.50495075e+00 -1.07989629e+00  1.28152852e+00  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.27981356e+00 -7.76216010e-01  1.25421127e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.34007995e+00  9.32170269e-01 -6.88149122e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.24507020e+00  8.72003071e-01  9.32186786e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.03038241e+00  9.86975162e-01  8.30887717e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.09183275e+00 -4.56617186e-01  7.76108248e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 6.20411795e-01 -3.87576029e-01  1.49808075e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 5.93098965e-01 -1.06551653e+00  3.19834431e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 4.43273419e-01  2.15472124e-01  3.20618249e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 4.02091150e-01  5.10202013e-01  3.43957596e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.01719429e+00  1.26922245e+00  3.75743081e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 8.97926670e-01  4.58909136e-02  4.19219510e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 9.44547430e-02  9.14147979e-03  4.40447032e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 4.60733675e-01  8.55689379e-01  5.91017531e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 3.96738485e-01 -2.58442307e-01  6.92992870e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 2.79455197e-01  1.15985963e+00 -1.74312617e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 5.57396340e-02 -2.69564591e-01  7.23926803e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.02737147e-01  1.16920915e+00  7.32788599e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 6.02012518e-03  5.18726249e-02  7.62376684e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.36187177e-01 -5.62188208e-01  7.74349716e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 7.31281480e-02 -7.95446107e-01 -5.81938489e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.99298141e-01  6.56512199e-01 -6.03515917e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 3.53837501e-02  8.21740976e-01 -6.35834687e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-3.55054466e-02  2.35091603e-01  1.17427197e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.68779170e-01  2.21016356e+00 -7.67188629e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.78594993e-01  1.14247983e+00 -8.58132855e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-2.58060822e-01 -2.05605599e-01 -9.90356358e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-2.76944684e-01  1.13057697e+00 -1.01441864e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-2.26935128e-01  2.83946873e-01 -1.36244897e+00  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-4.01115378e-01 -6.59300973e-01  2.98180513e-02  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-6.00668575e-01  1.31055831e+00 -1.87781008e-03  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-6.09736394e-01 -1.30863447e+00 -4.54923508e-02  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-9.91556606e-01  2.05947751e-01 -8.17617655e-02  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-6.52518763e-01 -2.52597096e+00 -1.15607448e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.17716400e+00 -1.99724731e+00 -2.12784058e-01  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-7.73806812e-01 -1.38309850e+00 -2.97582468e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-9.89563468e-01 -1.00877158e-01 -3.15785075e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.00852017e+00 -1.32077275e+00 -3.84551599e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.10209201e+00 -9.06914474e-01 -5.20595152e-01  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.28112009e+00  2.17704585e-01 -1.44960388e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.13429185e+00  1.20644242e+00 -1.50907337e+00  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.60033681e+00  1.01276996e-01 -1.72739917e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.59339967e+00 -1.99298681e-01  7.11123282e-01  0.00000000e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.62234847e+00  5.07744936e-01 -1.74312617e+00  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.61041980e+00 -2.50938578e+00 -1.74312617e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [-1.62234847e+00 -1.57202446e-01 -1.36998392e+00  2.11100165e+00
   0.00000000e+00  1.00000000e+00  1.00000000e+00]]

In [66]:
# Your code to print the sample values in y
print(y)

[[ 2.01121935]
 [ 1.99944599]
 [ 1.98085827]
 [ 1.77664326]
 [ 1.35775614]
 [ 1.12726565]
 [ 1.10549657]
 [ 1.09622589]
 [ 1.00748569]
 [ 0.94603849]
 [ 0.85486277]
 [ 0.80818358]
 [ 0.74117086]
 [ 0.55876554]
 [ 0.51604239]
 [ 0.44873569]
 [ 0.37545172]
 [ 0.33478716]
 [ 0.30713202]
 [ 0.26978867]
 [ 0.16195124]
 [-0.01751782]
 [-0.04159662]
 [-0.08215341]
 [-0.08671344]
 [-0.11547707]
 [-0.15735062]
 [-0.17552631]
 [-0.21878153]
 [-0.2758662 ]
 [-0.30260858]
 [-0.36411142]
 [-0.36550788]
 [-0.38177109]
 [-0.38342819]
 [-0.3892749 ]
 [-0.53391559]
 [-0.55293888]
 [-0.77148132]
 [-0.77707766]
 [-0.84639533]
 [-0.85744966]
 [-1.01534864]
 [-1.05894419]
 [-1.17319297]
 [-1.18006622]
 [-1.5669061 ]
 [-1.74061116]
 [-1.91319595]
 [-2.43929721]]

# Let's assign the X to a variable Independedent variable.

In [116]:
Indpendent_Variables = pd.DataFrame(X)

# Print Independent variable.

In [117]:
# Your code to print independent variable.
print(Indpendent_Variables)

           0         1         2         3    4    5    6
0   2.016425  0.560776  2.153944  0.000000  1.0  1.0  1.0
1   1.955874  1.082830  1.923601  2.111002  0.0  1.0  1.0
2   1.754377 -0.728234  1.626528  0.000000  0.0  1.0  1.0
3   1.554797 -0.096342  1.422211  0.000000  1.0  1.0  1.0
4   1.504951 -1.079896  1.281529  0.000000  0.0  1.0  1.0
5   1.279814 -0.776216  1.254211  0.000000  1.0  1.0  1.0
6   1.340080  0.932170 -0.688149  2.111002  0.0  1.0  1.0
7   1.245070  0.872003  0.932187  0.000000  0.0  1.0  1.0
8   1.030382  0.986975  0.830888  0.000000  1.0  1.0  1.0
9   1.091833 -0.456617  0.776108  2.111002  0.0  1.0  1.0
10  0.620412 -0.387576  0.149808  0.000000  0.0  1.0  1.0
11  0.593099 -1.065517  0.319834  2.111002  0.0  1.0  1.0
12  0.443273  0.215472  0.320618  0.000000  0.0  1.0  1.0
13  0.402091  0.510202  0.343958  2.111002  0.0  1.0  1.0
14  1.017194  1.269222  0.375743  0.000000  0.0  1.0  1.0
15  0.897927  0.045891  0.419220  0.000000  1.0  1.0  1.0
16  0.094455  0.009141  0.440447  2.111002  0.0  1.0  1.0
17  0.460734  0.855689  0.591018  0.000000  1.0  1.0  1.0
18  0.396738 -0.258442  0.692993  0.000000  0.0  1.0  1.0
19  0.279455  1.159860 -1.743126  0.000000  1.0  1.0  1.0
20  0.055740 -0.269565  0.723927  2.111002  0.0  1.0  1.0
21  0.102737  1.169209  0.732789  0.000000  1.0  1.0  1.0
22  0.006020  0.051873  0.762377  0.000000  0.0  1.0  1.0
23 -0.136187 -0.562188  0.774350  0.000000  0.0  1.0  1.0
24  0.073128 -0.795446 -0.581938  0.000000  1.0  1.0  1.0
25 -0.199298  0.656512 -0.603516  2.111002  0.0  1.0  1.0
26  0.035384  0.821741 -0.635835  0.000000  0.0  1.0  1.0
27 -0.035505  0.235092  1.174272  0.000000  1.0  1.0  1.0
28 -0.168779  2.210164 -0.767189  0.000000  0.0  1.0  1.0
29 -0.178595  1.142480 -0.858133  0.000000  1.0  1.0  1.0
30 -0.258061 -0.205606 -0.990356  0.000000  0.0  1.0  1.0
31 -0.276945  1.130577 -1.014419  0.000000  1.0  1.0  1.0
32 -0.226935  0.283947 -1.362449  2.111002  0.0  1.0  1.0
33 -0.401115 -0.659301  0.029818  0.000000  0.0  1.0  1.0
34 -0.600669  1.310558 -0.001878  2.111002  0.0  1.0  1.0
35 -0.609736 -1.308634 -0.045492  0.000000  1.0  1.0  1.0
36 -0.991557  0.205948 -0.081762  0.000000  0.0  1.0  1.0
37 -0.652519 -2.525971 -0.115607  2.111002  0.0  1.0  1.0
38 -1.177164 -1.997247 -0.212784  0.000000  1.0  1.0  1.0
39 -0.773807 -1.383099 -0.297582  2.111002  0.0  1.0  1.0
40 -0.989563 -0.100877 -0.315785  2.111002  0.0  1.0  1.0
41 -1.008520 -1.320773 -0.384552  0.000000  0.0  1.0  1.0
42 -1.102092 -0.906914 -0.520595  2.111002  0.0  1.0  1.0
43 -1.281120  0.217705 -1.449604  0.000000  1.0  1.0  1.0
44 -1.134292  1.206442 -1.509073  2.111002  0.0  1.0  1.0
45 -1.600337  0.101277 -1.727399  0.000000  1.0  1.0  1.0
46 -1.593400 -0.199299  0.711123  0.000000  0.0  1.0  1.0
47 -1.622348  0.507745 -1.743126  2.111002  0.0  1.0  1.0
48 -1.610420 -2.509386 -1.743126  0.000000  1.0  1.0  1.0
49 -1.622348 -0.157202 -1.369984  2.111002  0.0  1.0  1.0

# Following function splits the data into two sets - trainset and testset.
# We can also do the same operation using  train_test_split method available in sklearn.model_selection.
# But, let's create our own method to split data.

# In the following code, set radom_state as your SID.

## Comment each line of the code about what its doing.

In [118]:
SID = 2220742
def split_data(X, y, test_size = 0.2, random_state = SID):  # Set variable random_state as your SID

    np.random.seed(random_state)
    indices = np.random.permutation(len(X))
    data_test_size = int(X.shape[0] * test_size)

    train_indices = indices[data_test_size:]
    test_indices = indices[:data_test_size]
    X_train = X[train_indices]
    y_train = y[train_indices]
    X_test = X[test_indices]
    y_test = y[test_indices]
    # Your code to return X_train, y_train, X_test, y_test
    return X_train, y_train, X_test, y_test

#Comment each line of the following code about what its doing.

In [119]:
def forward(X, y, theta):

    y_pred = np.sum(theta * X)
    loss = ((y_pred-y)**2)/2    #This is also the cost function
    # Your code to return lost and predicted values.
    return y_pred, loss

# Comment each line of the code about what its doing.

## What is the problem with the following code? Can it be written more efficiently?

In [120]:
def updateTheta(X, y_pred, y_true, theta, alpha, index):

    for i in range(X.shape[1]):
        theta[i] -= (alpha * (y_pred-y_true[index])*X[index][i])

    # Your code to return theta
    return theta

## Comment each line of the code about what its doing.

In [75]:
def gradient_descent(X, y, epochs = 10, alpha = 0.001, random_state=0):

    num_rows = X.shape[0]
    num_cols = X.shape[1]

    theta = np.random.randn(1,num_cols) / np.sqrt(num_rows)
    train_loss = []
    num_epochs = []
    train_indices = [i for i in range(X.shape[0])]

    for j in range(epochs):
        cost=0
        np.random.seed(random_state)
        np.random.shuffle(train_indices)

        for i in train_indices:
            loss, y_pred = forward(X[i],y[i],theta)
            cost+=loss
            theta = updateTheta(X,y_pred,y,theta,alpha,i)

        train_loss.append(cost)
        num_epochs.append(j)

    return theta, train_loss, num_epochs

## Comment each line of the code about what its doing.

In [76]:
def test(X_test, y_test, theta_updated):

    test_pred = []
    test_loss = []

    test_indices = [i for i in range(X_test.shape[0])]

    for i in test_indices:
        loss, y_test_pred = forward(X_test[i],  y_test[i], theta_updated)
        test_pred.append(y_test_pred)
        test_loss.append(loss)


    # Your code to return predictions and loss
    return test_pred, test_loss

## Comment each line of the code about what its doing.

In [ ]:
def predict(theta_updated, X_sample):

    prediction = np.sum(theta_updated * X_sample)

    return prediction

# Create a good plot Epochs vs loss.

In [103]:
def plotLoss(loss, epochs):

    # Your code to plot epochs vs loss
    plt.plot(epochs, loss)
    # Your code to print x label in the graph
    # Your code to print y label in the graph
    # Your code to provide title to the plot.
    # Your code to show the plot.

# Calling the method  split_data to get train and test set.
## Following code has one minor error. Correct this error.

In [104]:
X_train, y_train, X_test, y_test = split_data(X, y)

# Call the gradient descent function with the number of epochs and learning rate of your choice. Keep number of epochs greater that 200 and learning rate less than 0.05.

In [109]:
theta_updated, train_loss, num_epochs = gradient_descent(X_train, y_train, epochs=250, alpha=0.01, random_state=1)# Your code to call gradient descent for training data; you need to set epoch (greater than 200) and learning rate (less than 0.05).

IndexError: index 1 is out of bounds for axis 0 with size 1

# Test your regression model using test data.

In [ ]:
# Your code to test the model on test data and updated theta values.

# Plot the loss function.

In [ ]:
# Your code to plot epochs vs loss. Call the method.

Perform the predictions on X_tset. Call predict method.

In [ ]:
# Your code to predict the profit i.e. y values

# **Imortant - Lab Logbook requirement:**

# Please document the following in your lab logbook:

# 1. Plot the loss function.
# 2. Record the output of all the predictions on the test data; i.e., all the predicted y values.

# **Optional Part:**
# The rest of this notebook is Optional. It is recommended for you to complete it. However, if you have not marks would not be deducted.

# Fitting the model using sklearn and comparing with our model.

# Following piece of code is uncommented. Please comment it.

In [ ]:
# Your code to import train_test_split from sklearn.model_selection
# Your code to import LinearRegression from sklearn.linear_model

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
dataset_sk = pd.read_csv('50_Startups.csv')
X_sk = dataset_sk.iloc[:, :-1].values
y_sk = dataset_sk.iloc[:, 4].values

In [ ]:
labelencoder_X_sk = LabelEncoder()
X_sk[:,3] = labelencoder_X_sk.fit_transform(X_sk[:,3])

onehotencoder = OneHotEncoder(handle_unknown='ignore')
X_sk_categorical = onehotencoder.fit_transform(X_sk[:,3].reshape(-1,1)).toarray()
X_sk = np.concatenate((X_sk,X_sk_categorical),axis=1)

In [ ]:
X_sk = X_sk[:, [0,1,2,5,6]]

In [ ]:
X_sk.shape

In [ ]:
# Your code to perform train test split with 20% data in the test set.

In [ ]:
regressor_sk = LinearRegression()
regressor_sk.fit(X_train_sk, y_train_sk)

LinearRegression()

In [ ]:

y_pred = regressor_sk.predict(X_test_sk)

In [ ]:
X_train_sk.shape

In [ ]:
#Making the Prediction using Sklearn Regression
print(regressor_sk.predict([[160000,140000,5000000,1,0]]))

In [ ]:
#Making a Prediction
pred = predict(theta_updated,[160000,140000,5000000,1,0,1])
print(pred)